/*
 * Globals
 */
body {
  background: url(../image/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.container {
  background-color: rgba(207,207,196, 0.5);
  padding: 25px 50px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
